<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About Us Page</title>
        <link rel= "stylesheet" type="text/css" href="../static/main.css">
    </head>

    <body>

    <div class = "header">
        <table>
            <tr>
                <td style="font-size:30px;"><a href="/" style = padding-right:20px;>Home</a></td>
                <td style="font-size:30px;"><a href="bitcoin" style = padding-right:20px;>Explore</a></td>
                <td style="font-size:30px;"><a href="news" style = padding-right:20px;>News</a></td>
                <td style="font-size:30px;"><a href="aboutus">About Us</a></td>
            </tr>
        </table>
        <hr color = "gray">
    </div>

    <div>
        <h1>Who are the creators of the website?</h1>
        <p style = "font-size:20px;">The website was created by 4 students are currently attending San José State University.</p>
        <h1>List of Students:</h1>
        <p style = "font-size:20px;">Brandon Truong</p>
        <p style = "font-size:20px;">Duc (Nathan) Tran</p>
        <p style = "font-size:20px;">Deven Shah</p>
        <p style = "font-size:20px;">Berlun Devera</p>
    </div>


    </body>
</html>