<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
    <link rel= "stylesheet" type="text/css" href="../static/main.css">
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
</head>

<body>

    <div class = "header">
        <table>
            <tr>
                <td style="font-size:30px;"><a href="/" style = padding-right:20px;>Home</a></td>
                <td style="font-size:30px;"><a href="explore" style = padding-right:20px;>Explore</a></td>
                <td style="font-size:30px;"><a href="learn" style = padding-right:20px;>Learn</a></td>
                <td style="font-size:30px;"><a href="aboutus">About Us</a></td>
            </tr>
        </table>
        <hr color = "gray">
    </div>

    <button type="button" onclick="showBTC()" id="btnId">Bitcoin</button>
    <button type="button" onclick="showETH()" id="btnId2">Ethereum</button>
    <button type="button" onclick="showBNB()" id="btnId3">BNB</button>
    <button type="button" onclick="showXRP()" id="btnId4">XRP</button>
    <button type="button" onclick="showADA()" id="btnId5">Cardano</button>
    <button type="button" onclick="showSOL()" id="btnId6">Solana</button>
    <button type="button" onclick="showLUNA()" id="btnId7">Terra</button>
    <button type="button" onclick="showAVAX()" id="btnId8">Avalanche</button>
    <button type="button" onclick="showDOGE()" id="btnId9">Dogecoin</button>
    <button type="button" onclick="showDOT()" id="btnId10">Polkadot</button>

    <center><img id="bitcoin" src={{ BTCGraph }}/></center>
    <center><img id="ethereum" src={{ ETHGraph }} hidden/></center>
    <center><img id="bnb" src={{ BNBGraph }} hidden/></center>
    <center><img id="xrp" src={{ XRPGraph }} hidden/></center>
    <center><img id="cardano" src={{ ADAGraph }} hidden/></center>
    <center><img id="solana" src={{ SOLGraph }} hidden/></center>
    <center><img id="terra" src={{ LUNAGraph }} hidden/></center>
    <center><img id="avalanche" src={{ AVAXGraph }} hidden/></center>
    <center><img id="dogecoin" src={{ DOGEGraph }} hidden/></center>
    <center><img id="polkadot" src={{ DOTGraph }} hidden/></center>

    <div class = "container">
        <div class="coinmarketcap-currency-widget" data-currencyid="1" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false"></div>
        <div class="coinmarketcap-currency-widget" data-currencyid="1027" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false"></div>
        <div class="coinmarketcap-currency-widget" data-currencyid="1839" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false"></div>
        <div class="coinmarketcap-currency-widget" data-currencyid="52" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false"></div>
        <div class="coinmarketcap-currency-widget" data-currencyid="2010" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false"></div>
        <div class="coinmarketcap-currency-widget" data-currencyid="5426" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false"></div>
        <div class="coinmarketcap-currency-widget" data-currencyid="20314" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false"></div>
        <div class="coinmarketcap-currency-widget" data-currencyid="5805" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false"></div>
        <div class="coinmarketcap-currency-widget" data-currencyid="74" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false"></div>
        <div class="coinmarketcap-currency-widget" data-currencyid="6636" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false"></div>
    </div>

    <!-- Improve how it looks later on -->

    <script>
        function showBTC(){
            document.getElementById('bitcoin').style.display = "inline";
            document.getElementById('ethereum').style.display = "none";
            document.getElementById('bnb').style.display = "none";
            document.getElementById('xrp').style.display = "none";
            document.getElementById('cardano').style.display = "none";
            document.getElementById('solana').style.display = "none";
            document.getElementById('terra').style.display = "none";
            document.getElementById('avalanche').style.display = "none";
            document.getElementById('dogecoin').style.display = "none";
            document.getElementById('polkadot').style.display = "none";
        }

        function showETH(){
            document.getElementById('bitcoin').style.display = "none";
            document.getElementById('ethereum').style.display = "inline";
            document.getElementById('bnb').style.display = "none";
            document.getElementById('xrp').style.display = "none";
            document.getElementById('cardano').style.display = "none";
            document.getElementById('solana').style.display = "none";
            document.getElementById('terra').style.display = "none";
            document.getElementById('avalanche').style.display = "none";
            document.getElementById('dogecoin').style.display = "none";
            document.getElementById('polkadot').style.display = "none";
        }

        function showBNB(){
            document.getElementById('bitcoin').style.display = "none";
            document.getElementById('ethereum').style.display = "none";
            document.getElementById('bnb').style.display = "inline";
            document.getElementById('xrp').style.display = "none";
            document.getElementById('cardano').style.display = "none";
            document.getElementById('solana').style.display = "none";
            document.getElementById('terra').style.display = "none";
            document.getElementById('avalanche').style.display = "none";
            document.getElementById('dogecoin').style.display = "none";
            document.getElementById('polkadot').style.display = "none";
        }

        function showXRP(){
            document.getElementById('bitcoin').style.display = "none";
            document.getElementById('ethereum').style.display = "none";
            document.getElementById('bnb').style.display = "none";
            document.getElementById('xrp').style.display = "inline";
            document.getElementById('cardano').style.display = "none";
            document.getElementById('solana').style.display = "none";
            document.getElementById('terra').style.display = "none";
            document.getElementById('avalanche').style.display = "none";
            document.getElementById('dogecoin').style.display = "none";
            document.getElementById('polkadot').style.display = "none";
        }
        function showADA(){
            document.getElementById('bitcoin').style.display = "none";
            document.getElementById('ethereum').style.display = "none";
            document.getElementById('bnb').style.display = "none";
            document.getElementById('xrp').style.display = "none";
            document.getElementById('cardano').style.display = "inline";
            document.getElementById('solana').style.display = "none";
            document.getElementById('terra').style.display = "none";
            document.getElementById('avalanche').style.display = "none";
            document.getElementById('dogecoin').style.display = "none";
            document.getElementById('polkadot').style.display = "none";
        }

        function showSOL(){
            document.getElementById('bitcoin').style.display = "none";
            document.getElementById('ethereum').style.display = "none";
            document.getElementById('bnb').style.display = "none";
            document.getElementById('xrp').style.display = "none";
            document.getElementById('cardano').style.display = "none";
            document.getElementById('solana').style.display = "inline";
            document.getElementById('terra').style.display = "none";
            document.getElementById('avalanche').style.display = "none";
            document.getElementById('dogecoin').style.display = "none";
            document.getElementById('polkadot').style.display = "none";
        }

        function showLUNA(){
            document.getElementById('bitcoin').style.display = "none";
            document.getElementById('ethereum').style.display = "none";
            document.getElementById('bnb').style.display = "none";
            document.getElementById('xrp').style.display = "none";
            document.getElementById('cardano').style.display = "none";
            document.getElementById('solana').style.display = "none";
            document.getElementById('terra').style.display = "inline";
            document.getElementById('avalanche').style.display = "none";
            document.getElementById('dogecoin').style.display = "none";
            document.getElementById('polkadot').style.display = "none";
        }

        function showAVAX(){
            document.getElementById('bitcoin').style.display = "none";
            document.getElementById('ethereum').style.display = "none";
            document.getElementById('bnb').style.display = "none";
            document.getElementById('xrp').style.display = "none";
            document.getElementById('cardano').style.display = "none";
            document.getElementById('solana').style.display = "none";
            document.getElementById('terra').style.display = "none";
            document.getElementById('avalanche').style.display = "inline";
            document.getElementById('dogecoin').style.display = "none";
            document.getElementById('polkadot').style.display = "none";
        }

        function showDOGE(){
            document.getElementById('bitcoin').style.display = "none";
            document.getElementById('ethereum').style.display = "none";
            document.getElementById('bnb').style.display = "none";
            document.getElementById('xrp').style.display = "none";
            document.getElementById('cardano').style.display = "none";
            document.getElementById('solana').style.display = "none";
            document.getElementById('terra').style.display = "none";
            document.getElementById('avalanche').style.display = "none";
            document.getElementById('dogecoin').style.display = "inline";
            document.getElementById('polkadot').style.display = "none";
        }

        function showDOT(){
            document.getElementById('bitcoin').style.display = "none";
            document.getElementById('ethereum').style.display = "none";
            document.getElementById('bnb').style.display = "none";
            document.getElementById('xrp').style.display = "none";
            document.getElementById('cardano').style.display = "none";
            document.getElementById('solana').style.display = "none";
            document.getElementById('terra').style.display = "none";
            document.getElementById('avalanche').style.display = "none";
            document.getElementById('dogecoin').style.display = "none";
            document.getElementById('polkadot').style.display = "inline";
        }
    </script>

</body>

</html>