<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>

    <a href="/">Home</a>
    <h2>Bitcoin</h2>
    <h2>$ <span id="bitcoin"></span> </h2>
    <h2>Ethereum</h2>
    <h2>$ <span id="ethereum"></span> </h2>
    <h2>Tether</h2>
    <h2>$ <span id="tether"></span> </h2>
    <h2>Binance Coin</h2>
    <h2>$ <span id="binancecoin"></span> </h2>
    <h2>Ripple</h2>
    <h2>$ <span id="ripple"></span> </h2>
    <h2>Cardano</h2>
    <h2>$ <span id="cardano"></span> </h2>
    <h2>Solana</h2>
    <h2>$ <span id="solana"></span> </h2>
    <h2>Polkadot</h2>
    <h2>$ <span id="polkadot"></span> </h2>
    <h2>Dogecoin</h2>
    <h2>$ <span id="dogecoin"></span> </h2>
    <h2>Dai</h2>
    <h2>$ <span id="dai"></span> </h2>

    <script src="{{url_for('static', filename='app.js')}}"></script>
</body>
</html>