<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto Currency Forecasting Model</title>
    <link rel= "stylesheet" type="text/css" href="../static/main.css">
</head>
<body>

    <div class = "header">
        <table>
            <tr>
                <td style="font-size:30px;"><a href="/" style = padding-right:20px;>Home</a></td>
                <td style="font-size:30px;"><a href="explore" style = padding-right:20px;>Explore</a></td>
                <td style="font-size:30px;"><a href="learn" style = padding-right:20px;>Learn</a></td>
                <td style="font-size:30px;"><a href="aboutus">About Us</a></td>
            </tr>
        </table>
        <hr color = "gray">
    </div>

    <p style="font-size:50;">
        Welcome to the website! This website will be a guide to help you learn more about cryptocurrency. <br>There is also a model that
        is used to predict the prices of cryptocurrency using K-NN and sentimental analysis from Twitter.
    </p>

</body>
</html>