<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel= "stylesheet" type="text/css" href="../static/main.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!---<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">-->
    <style>
        #chart-wrapper1 {
            width: 500px;
            height: 600px;
        }
        #chart-wrapper2 {
            width: 80%;
        }
        .space-buffer{
            height: 50px;
        }
      </style>


<body>
    <div class = "header">
        <table>
            <tr>
                <td style="font-size:30px;"><a href="/" style = padding-right:20px;>Home</a></td>
                <td style="font-size:30px;"><a href="explore" style = padding-right:20px;>Explore</a></td>
                <td style="font-size:30px;"><a href="news" style = padding-right:20px;>News</a></td>
                <td style="font-size:30px;"><a href="aboutus">About Us</a></td>
            </tr>
        </table>
        <hr color = "gray">
    </div>

    <center><p style = font-size:30px;font-weight:bold>Welcome to the Cryptocurrency Forecasting Model Website</p></center>
    <center><p style = font-size:25px>From the explore page, you are able to look at the predicted prices for the top 10 cryptocurrency coins based on market cap.</p></center>
    <center><p style = font-size:25px>From the news page, you will be able to learn about cryptocurrency and read current news articles about them.</p></center>

    <div class="chart active">
        <div class="row in active">
            <div class="col in active">
                <h3>BTC/USD</h3>
                <canvas id="myChart" width="auto" height="100px"></canvas>
            </div>
        </div>
    <script src="../static/data/technical.js"></script>
    </div>

</body>
</html>